openlegend.sheet.char {
  form {
    display: flex;
    flex-direction: column;
    //flex-wrap:wrap;
  }

  .defenses {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
  }


  .sheet-header h4 {
    padding: 0px;
    border-bottom: 0;
    font-size: 14px;
  }

  .attributes {

    .attribute {
      border: 1px solid #AAA;
      max-width: 355px;
    }

    .attribute-hpdef {
      .defenses {
        justify-content: center;
      }

    }
  }
}