openlegend.sheet.item form {
  display: flex;
  flex-direction: column;
}
openlegend.sheet.item .description-effect {
  height: 100%;
  display: flex;
  flex-direction: column;
}
openlegend.sheet.item .description-effect .editor {
  height: 100%;
}
openlegend.sheet.item .power-level-selection table {
  margin-left: auto;
  margin-right: auto;
}
.openlegend.sheet.char form {
  display: flex;
  flex-direction: column;
}
.openlegend.sheet.char .sheet-header h4 {
  padding: 0px;
  border-bottom: 0;
  font-size: 14px;
}
.openlegend.sheet.char .stats {
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.openlegend.sheet.char .stats input {
  width: 4ch;
}
.openlegend.sheet.char .stats .attribute-list {
  flex: none;
}
.openlegend.sheet.char .stats .attribute-list .attribute {
  border: 1px solid #AAA;
  max-width: 300px;
}
.openlegend.sheet.char .stats .attribute-list .attribute .attribute-roll button {
  width: 15ch;
}
.openlegend.sheet.char .stats .defenses-health {
  flex: 0 0 auto;
  justify-content: space-evenly;
  padding: 10px;
}
.openlegend.sheet.char .stats .defenses-health h3 {
  text-align: center;
}
.openlegend.sheet.char .stats .attribute-input {
  flex: 0 0 4ch;
}
.openlegend.sheet.char .items {
  padding: 10px;
}
.openlegend.sheet.char .items .item-entry {
  align-items: center;
}
.openlegend.sheet.char .items .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.openlegend.sheet.char .items .item-image:hover {
  background-image: url("../../icons/svg/d20-black.svg") !important;
}
.openlegend.sheet.char .items h3 {
  text-align: center;
  align-self: center;
  max-height: 20px;
}
.openlegend.sheet.char .items .item-entry {
  max-height: 32px;
}
